---
import { Image } from 'astro:assets';
import shawcor from '../assets/img/shawcor.png';
import cm from '../assets/img/cm.png';
import payu from '../assets/img/payu.png';
import osit from '../assets/img/osit.png';
import clarin from '../assets/img/grupoclarin.png';
import edrans from '../assets/img/edrans.png';
import bimodal from '../assets/img/bimodal.png';
import everymundo from '../assets/img/everymundo.png';
import opster from '../assets/img/opster.png';
import codyops from '../assets/img/codyops.png';
import trive from '../assets/img/trive.png';
import moegui from '../assets/img/moegui.png';
import telnyx from '../assets/img/telnyx.png';

---
<h2>Collaborations</h2>
<div class="container mt-2">
    <div class="row">
        <div class="col-0 col-md-3 col-lg-3 col-xl-3">
            <Image
            class="img-thumbnail"
            src={telnyx}
            alt="Telnyx"
            ></Image>
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-8">
            <ul class="list-unstyled">
                <li><b>Lead DevOps Engineer</b></li>
                <li>November 2024 - Present</li>
                <li>USA (Remote)</li>
            </ul>
        </div>
    </div>
    <p style="text-align: justify;">
    My current work involves migrating our company's CI/CD operations from Jenkins CI to GitHub Actions. While Jenkins is robust for intensive deployments and offers good plugin integration, GitHub Actions is a less mature solution. To address this, I'm deploying self-hosted, autoscalable, ephemeral pods with custom images in multiple data centers to ensure high availability and handle our current deployment processes. I am also in the process of converting all our existing Groovy pipelines and steps into TypeScript GitHub Actions to enhance and replace our current CI stack.
    For continuous deployment, we already utilize ArgoCD, and I'm expanding its use to accommodate the shift to GitHub Actions CI. By verifying ArgoCD's deployment status in 'dev,' we can guarantee its functionality in 'prod,' thereby empowering all developers with production deployment capabilities at any time.
    Additionally, I collaborate closely with the Kubernetes Squad to refine our existing stack across numerous deployments in various data centers. Although I am not leading this initiative, I actively contribute to the Squad's efforts.
    </p>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-0 col-md-3 col-lg-3 col-xl-3">
            <Image
            class="img-thumbnail"
            src={codyops}
            alt="CodyOps"
            ></Image>
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-8">
            <ul class="list-unstyled">
                <li><b>Lead DevOps Engineer</b></li>
                <li>October 2023 - Present</li>
                <li>USA (Remote)</li>
            </ul>
        </div>
    </div>
    <p style="text-align: justify;">
    I led the design and implementation of a comprehensive infrastructure architecture in GCP, employing a multi-environment, SaaS-oriented approach with Terraform modules. This included configuring a load balancer to serve static content from a backend bucket and dynamic content via serverless functions connected to a REST API, bridging the frontend and backend services.
    My responsibilities extended to collaborating on frontend deployment (TypeScript) and independently developing and deploying all backend services (NodeJS). This robust backend comprised over 60 serverless functions interconnected with SQL and NoSQL servers in a full-mesh architecture, complemented by a RabbitMQ messaging queue. For monitoring, I leveraged cloud-native Prometheus support, ensuring all cloud functions were monitored with SDK integration and alerting configured for on-call duty. Throughout these initiatives, I actively led and collaborated using agile methodologies.
    </p>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-0 col-md-3 col-lg-3 col-xl-3">
            <Image
            class="img-thumbnail"
            src={trive}
            alt="Trive"
            ></Image>
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-8">
            <ul class="list-unstyled">
                <li><b>Senior GCP DevOps Engineer</b></li>
                <li>April 2023 - October 2023</li>
                <li>Netherlands (Remote)</li>
            </ul>
        </div>
    </div>
    <p style="text-align: justify;">
    The extant project deployment spans multiple servers and cloud providers. The objective is to formulate a novel cloud architecture for GCP, inclusive of an estimated Total Cost of Ownership (TCO). This nascent infrastructure will be codified utilizing Terraform, and existing applications will be migrated to GKE. Continuous Integration/Continuous Delivery (CI/CD) will be instantiated with Google Cloud Build, integrated with GitHub Actions. Developers will directly integrate code into Staging and Production environments, with the latter mandating prior approval.
    </p>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-0 col-md-3 col-lg-3 col-xl-3">
            <Image
            class="img-thumbnail"
            src={opster}
            alt="Opster"
            ></Image>
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-8">
            <ul class="list-unstyled">
                <li><b>Senior AWS DevOps Engineer</b></li>
                <li>June 2021 - June 2022</li>
                <li>Israel (Remote)</li>
            </ul>
        </div>
    </div>
    <p style="text-align: justify;">
        My contributions to the existing DevOps implementation included upgrading EKS Clusters and enhancing Jenkins Pipelines and Terraform configurations. Additionally, I improved the monitoring and dashboard systems. My responsibilities also encompassed designing and coding customer stack implementations, integrating Elastic into their cloud environments through the application of our DevOps procedures.
    </p>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-0 col-md-3 col-lg-3 col-xl-3">
            <Image
            class="img-thumbnail"
            src={bimodal}
            alt="Bimodal"
            ></Image>
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-8">
            <ul class="list-unstyled">
                <li><b>Senior AWS DevOps Engineer</b></li>
                <li>January 2020 - May 2020</li>
                <li>USA (Remote)</li>
            </ul>
        </div>
    </div>
    <p style="text-align: justify;">
        In a brief yet intensive project, I collaborated with a small team of DevOps professionals to lead a significant project migration from GCP to AWS, completed in record time. My responsibilities included designing and coding the majority of Terraform modules essential for deploying this project on AWS EKS. This migration also encompassed the integration of CI/CD pipelines and Istio for comprehensive network management.
    </p>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-0 col-md-3 col-lg-3 col-xl-3">
            <Image
            class="img-thumbnail"
            src={everymundo}
            alt="Everymundo"
            ></Image>
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-8">
            <ul class="list-unstyled">
                <li><b>Senior AWS DevOps Engineer</b></li>
                <li>May 2018 - February 2021</li>
                <li>USA (Remote)</li>
            </ul>
        </div>
    </div>
    <p style="text-align: justify;">
        Architected and deployed OpenShift Stacks within AWS, utilizing CloudFormation for infrastructure as code to ensure consistent replication across all operational regions. Orchestrated the migration of numerous applications, transitioning them initially to Docker and subsequently to OpenShift. Furthermore, automated manual processes through Jenkins Pipelines, establishing a comprehensive CI/CD framework for the build process.
    </p>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-0 col-md-3 col-lg-3 col-xl-3">
            <Image
            class="img-thumbnail"
            src={moegui}
            alt="Moegui"
            ></Image>
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-8">
            <ul class="list-unstyled">
                <li><b>VP Engineering</b></li>
                <li>January 2018 - December 2023</li>
                <li>USA (Remote)</li>
            </ul>
        </div>
    </div>
    <p style="text-align: justify;">
        As VP of Engineering, I led a team of 50, with a renewed focus on project management and commercial endeavors. I collaborated directly with clients, providing optimal solutions tailored to their requirements while guiding the team in sustainable development efforts. This management role presented a significant and challenging transition, allowing me to concurrently manage multiple projects with a particular emphasis on KPIs.
    </p>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-0 col-md-3 col-lg-3 col-xl-3">
            <Image
            class="img-thumbnail"
            src={edrans}
            alt="Edrans"
            height={40}
            ></Image>
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-8">
            <ul class="list-unstyled">
                <li><b>Lead System Engineer</b></li>
                <li>November 2016 - December 2017</li>
                <li>Argentina</li>
            </ul>
        </div>
    </div>
    <p style="text-align: justify;">
        Directed a team of 10 System Engineers across diverse project scopes. Facilitated client engagement by aligning their requirements with our technical capabilities and developing comprehensive project plans. Designed infrastructure solutions leveraging cutting-edge technologies and best practices, adhering to "Infrastructure as Code" principles. Utilized Terraform for infrastructure orchestration and Ansible for configuration management. Constructed these environments using Docker-Compose and occasionally Kubernetes.
    </p>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-0 col-md-3 col-lg-3 col-xl-3">
            <Image
            class="img-thumbnail"
            src={clarin}
            alt="Clarin"
            ></Image>
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-8">
            <ul class="list-unstyled">
                <li><b>Lead System Engineer</b></li>
                <li>December 2015 - October 2016</li>
                <li>Argentina</li>
            </ul>
        </div>
    </div>
    <p style="text-align: justify;">
        As a team leader for a group of four, my responsibilities included migrating all existing on-premise infrastructure associated with vertical businesses such as argenprop.com, deautos.com, and empleos.clarin.com. This involved rapidly acquiring knowledge of all three businesses, preparing the AWS infrastructure using Ansible, and overseeing all migrations.
    </p>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-0 col-md-3 col-lg-3 col-xl-3">
            <Image
            class="img-thumbnail"
            src={osit}
            alt="Osit"
            ></Image>
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-8">
            <ul class="list-unstyled">
                <li><b>Lead System Engineer</b></li>
                <li>June 2011 - November 2015</li>
                <li>Argentina</li>
            </ul>
        </div>
    </div>
    <p style="text-align: justify;">
        Our team of five was responsible for the infrastructure of customer solutions across Amazon Web Services and other public cloud platforms. My primary objective was to design new solutions developed by our internal Developer Team and oversee the precise provisioning of these systems to the Cloud. This marked my initial exposure to AWS, where I deployed services without prior network and server provisioning.
    </p>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-0 col-md-3 col-lg-3 col-xl-3">
            <Image
            class="img-thumbnail"
            src={payu}
            alt="PayU"
            ></Image>
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-8">
            <ul class="list-unstyled">
                <li><b>Senior System Engineer</b></li>
                <li>April 2007 - May 2011</li>
                <li>Argentina</li>
            </ul>
        </div>
    </div>
    <p style="text-align: justify;">
        My primary responsibility involved the design and implementation of the entire cloud architecture. During that period, while most companies maintained on-premise servers, our service delivery across Latin America necessitated the migration of all servers to the United States. I spearheaded the complete cloud infrastructure migration and virtualization efforts. We leveraged Linux servers with native virtualization capabilities to host both our Windows and Linux machines. Furthermore, I engineered the network using stacked Cisco switches to guarantee high availability.
    </p>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-0 col-md-3 col-lg-3 col-xl-3">
            <Image
            class="img-thumbnail"
            src={cm}
            alt="DoJ"
            ></Image>
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-8">
            <ul class="list-unstyled">
                <li><b>Middle System Engineer</b></li>
                <li>March 2005 - March 2007</li>
                <li>Argentina</li>
            </ul>
        </div>
    </div>
    <p style="text-align: justify;">
        My tenure at the Buenos Aires Department of Justice was an impactful experience. Initially serving as a Windows System Administrator, I simultaneously pursued a role as a Linux System Administrator. Despite lacking prior Windows Server experience, I successfully deployed approximately 100 Windows Servers utilizing Terminal Services (Remote Desktop), enabling over 10,000 employees to access a Windows Desktop from their legacy computers with PXE support. Additionally, I was responsible for implementing the Print Server, leveraging Linux CUPS, to manage numerous printers across the facilities.
    </p>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-0 col-md-3 col-lg-3 col-xl-3">
            <Image
            class="img-thumbnail"
            src={shawcor}
            alt="Shawcor"
            ></Image>
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-8">
            <ul class="list-unstyled">
                <li><b>Junior System Engineer</b></li>
                <li>January 2001 - February 2005</li>
                <li>Argentina</li>
            </ul>
        </div>
    </div>
    <p style="text-align: justify;">
        I commenced my IT career at this company as a junior System Engineer, responsible for the installation, configuration, and maintenance of existing Novell Netware and UNIX Solaris Servers. Subsequently, I initiated the migration of these servers to Linux Server. This migration process spanned several years, encompassing the relocation of all applications and resources to the new platforms, alongside enhancements to the Cisco networking infrastructure.
    </p>
</div>
