---
import { publicCloud } from '../data/public-cloud.js';
import { privateCloud } from '../data/private-cloud.js';
import { development } from '../data/development.js';
import { netsec } from '../data/netsec.js';
---
<h2>Credentials</h2>
<ul>
    <li class="list-unstyled">
        <h3>Public Cloud</h3>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Type</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              {publicCloud &&
                publicCloud.map((entry) => (
              <tr>
                <td>{entry.product}</td>
                <td>{entry.typelnk == '#' ? entry.type : <a href={entry.typelnk}>{entry.type}</a>}</td>
                <td>{entry.namelnk == '#' ? entry.name : <a href={entry.namelnk}>{entry.name}</a>}</td>
              </tr>
              ))}
            </tbody>
        </table>
    </li>
    <li class="list-unstyled">
        <h3>Private Cloud</h3>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Type</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              {privateCloud &&
                privateCloud.map((entry) => (
              <tr>
                <td>{entry.product}</td>
                <td>{entry.typelnk == '#' ? entry.type : <a href={entry.typelnk}>{entry.type}</a>}</td>
                <td>{entry.namelnk == '#' ? entry.name : <a href={entry.namelnk}>{entry.name}</a>}</td>
              </tr>
              ))}
            </tbody>
        </table>

    </li>	
    <li class="list-unstyled">
        <h3>Development</h3>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Type</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              {development &&
                development.map((entry) => (
              <tr>
                <td>{entry.product}</td>
                <td>{entry.typelnk == '#' ? entry.type : <a href={entry.typelnk}>{entry.type}</a>}</td>
                <td>{entry.namelnk == '#' ? entry.name : <a href={entry.namelnk}>{entry.name}</a>}</td>
              </tr>
              ))}
            </tbody>
        </table>
    </li>	
    <li class="list-unstyled">
        <h3>Networking & Security</h3>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Type</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              {netsec &&
                netsec.map((entry) => (
              <tr>
                <td>{entry.product}</td>
                <td>{entry.typelnk == '#' ? entry.type : <a href={entry.typelnk}>{entry.type}</a>}</td>
                <td>{entry.namelnk == '#' ? entry.name : <a href={entry.namelnk}>{entry.name}</a>}</td>
              </tr>
              ))}
            </tbody>
        </table>
    </li>															
</ul>
